
/////////LOGO//////////
.logo {
   height: 3.25rem;
}
////////SEARCH BOX//////@at-root

.search {
    &__input {
        
    }
    &__button{

    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}


/////////// USER Navigation////////

.user-nav{
    &__icon-box{

    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
    }

    &__notification{

    }

    &__user {

    }

    &__user-photo {
        height: 2.25rem;
        border-radius: 50%;

    }

    &_user-name{

    }
}