.container{
    // if its lesss willl occupy taht space.
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);;
    min-height: 50rem;
}

.header{
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    justify-content:space-between;
    align-items: center;

}

.content{
display: flex;

}

.sidebar{

    background-color: var(--color-grey-dark-1);
    // shorthand.
    // grow,shrink, width percentage.
    flex: 0 0 18%;
}

.hotel-view{
    background-color: #fff;
    background-color: orange;
    // grow as muach as posibble = 1;: in other words
    // the remaining 82 percent from the 18% being used in nav bar.
    flex: 1;

}