body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777777;
    padding: 30px;
}

.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    /* hides the animations shakes */
    backface-visibility: hidden;
    margin-bottom: 16px;
   &-main {
         /* stack the heding on eachother. */
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    
     /* animation properties - for an animation to work */
     animation-name: moveInLeft;
     animation-duration: 1.5s;
     /* animation-delay: 1s; */
     /* animation will happen x number of times
     animation-iteration-count: 3; */
     animation-timing-function: ease-out;
   }

    &-sub{
        display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    
/* shorthand methid to do all of the animations from above CCS will know */
    animation: moveInRight 1.5s ease-out;
    }

}
